<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044117320509-jrmqf1rvrup1m8bcrrf3jpqtjuilqtg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044117320509-jrmqf1rvrup1m8bcrrf3jpqtjuilqtg8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044117320509-aio1fiheklrstueiekhnc91ci2u5ucoi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtYIpE__AMe5AwMNPg9h82f8XhT5DSS5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1044117320509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valueappz.marketplacedemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-valueappz-demostores</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-valueappz-demostores.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044117320509:ios:1b07b41d5f1a3861c4cb54</string>
</dict>
</plist>